{% extends "timeseries-admin/base.html" %}

{% block title %}{{ series }}{% endblock %}

{% block content %}
  <h1>{{ series }}</h1>
  
  {% if readings.error %}
  <div class="error">
    <p>There was an error processing the readings that you uploaded:</p>
    <blockquote>{{ readings.error }}</blockquote>
  </div>
  {% endif %}
  
  {% if readings.count %}
  <div class="{% if readings.count == readings.appended %}info{% else %}warning{% endif %}">
    <p>
      <strong>{{ readings.count }}</strong> readings were successfully parsed from
      the file you uploaded, of which <strong>{{ readings.appended }}</strong> were
      added to the series. {% if readings.count != readings.appended %}Those omitted
      were before the previous last reading. {%endif %}The last reading is now at
      <strong>{{ series.last }}</strong>.
    </p>
  </div>
  {% endif %}
  
  <section>
    <h2>Details</h2>
    <form method="post" action=".">
      <table>
        <tbody>{{ form }}</tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <input type="submit" value="Update"/>
            </td>
          </tr>
        </tfoot>
      </table>
    </form>
  </section>
  
  <section>
    <h2>Upload readings</h2>
    <p class="helptext">
      Use this form to upload a CSV file containing readings. The CSV file
      should contain exactly two columns, the first containing a date-time
      string, and the second containing the reading.
    </p>
    <form method="post" action="." enctype="multipart/form-data">
      <input type="file" name="readings"/>
      <input type="submit" value="Upload"/>
    </form>
  </section>
  
{% endblock %}