{% extends "timeseries-admin/base.html" %}

{% block title %}Time-series admin{% endblock %}

{% block body %}
<article>
  <h1>Time-series</h1>
  
  <p>
    <a href="{% url timeseries:create %}">Create new time-series</a>
  </p>
  
  <table>
    <thead>
      <tr>
        <th>Slug</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>{% for series in series %}
      <tr>
        <td><a href="{{ series.get_absolute_url }}">{{ series.slug }}</a></td>
        <td>{{ series.title }}</td>
      </tr>
    {% endfor %}</tbody>
  </table>
  
</article>
{% endblock %}