{% extends "timeseries-admin/base.html" %}

{% block title %}Time-series admin{% endblock %}

{% block content %}
  <h1>Time-series administration</h1>
  
  <p>
    <a href="{% url timeseries-admin:create %}">Create new time-series</a>
  </p>
  
  <table>
    <thead>
      <tr>
        <th>Slug</th>
        <th>Title</th>
        <th>Notes</th>
        <th>Last updated</th>
      </tr>
    </thead>
    <tbody>{% for series in series %}
      <tr>
        <td><a href="{{ series.get_admin_url }}">{{ series.slug }}</a></td>
        <td>{{ series.title }}</td>
        <td>{{ series.notes }}</td>
        <td>{{ series.last }}</td>
      </tr>
    {% endfor %}</tbody>
  </table>
{% endblock %}
