{% extends "timeseries/base.html" %}

{% block title %}Time-series endpoint documentation{% endblock %}

{% block content %}
  <h1>Documentation of the time-series endpoint API</h1>
  
  <p>This site exposes a time-series endpoint at
     <a href="{% url timeseries-endpoint:index %}">{{ endpoint_url }}</a>.
     The endpoint exposes a simple API for querying data from a number of
     time-series.</p>
     
  <section id="definition">
    <h2>What is a time-series?</h2>
    
    <p>A time-series is a sequence of data points, where each point is some
       value sampled at regular or irregular intervals over time. For more
       information, see the <a href="http://en.wikipedia.org/wiki/Time_series">Wikipedia article</a>.</p>
  </section>
  
  <section id="available">
    <h2>What is available through this endpoint?</h2>
    
    <p>The endpoint only exposes the raw time-series data (a sequence of
       timestamp—real-number pairs) and metadata about how that data is held
       and can be queried. It does not ascribe any <em>meaning</em> to the
       data, such as the units used, how the data were collected, or what they
       relate to.</p>
    
    <p>Time series are recorded at one or more fixed resolutions, with lower
       resolutions being aggregations of higher resolutions. For example, an
       electricity meter time series might contain average power draw (kW) for
       successive half-hour periods. These might then be aggregated to provide
       daily and weekly average power draws. The endpoint exposes the possible
       resolutions so that you can specify a desired resolution when fetching
       data.</p> 
  </section>
  
  <section id="ref">
    <h2>API reference</h2>
    
    <p>The endpoint is available at <a href="{% url timeseries-endpoint:index %}">a
       single base URL</a> with query parameters used to control the
       response.</p>
       
    <p>This implementation of the API supports
       <a href="http://en.wikipedia.org/wiki/Content_negotiation">content
       negotiation</a> on <a href="http://en.wikipedia.org/wiki/Internet_media_type">Internet
       media type (MIME type)</a>. This means that you can send an
       <tt>Accept</tt> request header with the
       <abbr title="Internet media type">IMT</abbr> of your preferred response
       serialization. Alternatively, use the <tt>format</tt> query parameter
       with the serialization name. Supported
       <abbr title="Internet media type">IMT</abbr>s and serialization names
       are given below.</p>
       
    <p>The <em><tt>action</tt></em> parameter may have one of the following values:</p>
    
    <dl>
      <dt><a href="#ref-list"><tt>list</tt></a></dt>
      <dd>Returns a list of available time-series</dd>
      <dt><a href="#ref-info"><tt>info</tt></a></dt>
      <dd>Returns metadata about a series</dd>
      <dt><a href="#ref-fetch"><tt>fetch</tt></a></dt>
      <dd>Returns a time-bounded range of data from the series</dd> 
    </dl>
    
    <section>
      <h3 id="ref-list">The <tt>list</tt> action</h3>
      {% with renderers=renderers.list action="list" %}
        {% include "timeseries/documentation_renderers.html" %}
      {% endwith %}
      
      <p>The <tt>list</tt> action returns a list of all series for which the
         endpoint can supply data. In JSON format, the response is an object
         containing a <tt>names</tt> member, being a list of strings. For
         example:</p>
         
      <pre>{
  "names": [
    "first_series",
    "second_series",
    "third_series"
  ]
}</pre>
      
      <p>As <abbr title="comma-separated values">CSV</abbr>
         the response is effectively a newline-delimited list of names:</p>
      
      <pre>first_series
second_series
third_series</pre>

      <p>This endpoint's <a href="{% url timeseries-endpoint:index %}?action=list">series list</a> is available as
         {% for renderer in renderers.list %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}<a href="{% url timeseries-endpoint:index %}?action=list&format={{ renderer.format }}">{{ renderer.name }}</a>{% endfor %}.</p>
         
      <div style="clear:both;"/>
    </section>

    <section>
      <h3 id="ref-info">The <tt>info</tt> action</h3>
      {% with renderers=renderers.info action="info" %}
        {% include "timeseries/documentation_renderers.html" %}
      {% endwith %}
      
      <p>The <tt>info</tt> action will return metadata about the series named
         using the <tt>series</tt> query parameter. Here's an example as
         JSON:</p>
         
      <pre>{
  "series": {
    "first_series": {
      "info": {
        "updated": 1315092600000.0, 
        "interval": 1800, 
        "type": "gauge", 
        "value": 0.0, 
        "samples": [
          {
            "count": 100000, 
            "type": "average", 
            "resolution": 1800, 
            "aggregation": 1
          }, 
          {
            "count": 10000, 
            "type": "average", 
            "resolution": 86400, 
            "aggregation": 48
          }, 
          {
            "count": 10000, 
            "type": "average", 
            "resolution": 604800, 
            "aggregation": 336
          }
        ]
      }, 
      "name": "first_series"
    }
  }
}</pre>

      <p>You can specify more than one series by providing a comma-separated
         list as the <tt>series</tt> query parameter.</p>
      
      <p>Within the <tt>info</tt> member, the <tt>interval</tt> member
         specifies the number of seconds between data points. The
         <tt>type</tt> member will either be <tt>"rate"</tt>,
         <tt>"cumulative"</tt> or <tt>"impulse"</tt>.</p>
      
      <p>The <tt>samples</tt> member contains a list of sampling resolutions.
         Each sample has a <tt>type</tt> (one of <tt>"average"</tt>,
         <tt>"min"</tt> and <tt>"max"</tt>), <tt>resolution</tt> (being the
         number of seconds between data points), an <tt>aggregation</tt> (the
         number of data points aggregated together), and a <tt>count</tt> (the
         maximum number of data points held in this sample).</p>
      
      <p>In the above example, the samples provide half-hourly, daily and
         weekly averages.</p>
         
      <p>The RDF serializations contain the same information, modelled using
         <a href="http://purl.org/NET/time-series/">the time-series
         vocabuluary</a>.</p>
         
      
      <div style="clear:both;"/>
    </section>

    <section>
      <h3 id="fetch">The <tt>fetch</tt> action</h3>
      {% with renderers=renderers.fetch action="fetch" %}
        {% include "timeseries/documentation_renderers.html" %}
      {% endwith %}
      
      <p>The <tt>fetch</tt> action takes the following parameters:</p>
      
      <dl>
        <dt><tt>series</tt> (required)</dt>
        <dd>A comma-separated list of series for which to return data.</dd>
        <dt><tt>type</tt> (required)</dt>
        <dd>The aggregation type, corresponding to that returned as a
            <tt>type</tt> member on a sample. Must be one of
            <tt>"average"</tt>, <tt>"min"</tt> and <tt>"max"</tt>.</dd>
        <dt><tt>resolution</tt> (optional)</dt>
        <dd>The number of seconds between readings. Must match that given by
            a sample. Defaults to the time-series resolution (i.e. the most
            frequent).</dd>
        <dt><tt>startTime</tt> (optional)</dt>
        <dd>The start of the time range to return. Can be either a JavaScript
            timestamp (milliseconds since 1970-01-01T00:00:00), or any other
            sane-looking timestamp (such as YYYY-MM-DDTHH:MM:SS). Defaults to
            48 hours ago.</dd>
        <dt><tt>endTime</tt> (optional)</dt>
        <dd>The end of the time range to return, using the same format as
            <tt>startTime</tt>. Defaults to now.</dd>
      </dl>
      
      <div style="clear:both;"/>
  </section>
{% endblock %}